<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block head %}
    {% endblock %}

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    <title>Cansat Info Viewer</title>


</head>
<body>
    {% block body %}
    
    {% endblock %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>