<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AxonAnalytics - Cansat Dashboard</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600;800&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/axis_analizis.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/charts.css') }}">
</head>
<body class="p-6">
    {% block body %}
    {% endblock %}

    
</body>
</html>