
/* ========= Imports ========= */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* ========= Imports ========= */

/* Basic Css Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gray: rgba(20,20,20,0.6);
    --neon_blue: #00FFF7;
}

body {
    background-color: var(--black);
    color: var(--neon_blue);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    word-spacing: 5px;
}

a {
    
}

